{% macro allIPList(host) -%}
        { "address":  "{{ host.DNSAddress }}" },
            {% if host.addresses is defined %}
              {% for ipAddress in host.addresses %}
                { "address": "{{ipAddress}}" } {% if not loop.last %},{% endif %}
              {% endfor %}
            {% endif %}
{%- endmacro %}


{

  "schema_name": "hosts_config",
  "schema_version": "v3",

  {% if irods.hosts is defined %}
	"host_entries": [
    {% for host in irods.hosts %}
    {
      {% if ansible_default_ipv4.address in host.addresses %}
        "address_type": "local",
      {% else %}
        "address_type": "remote",
      {% endif %}
        "addresses": [
               {{ allIPList(host) }}{%- if host.RRDNS is defined  %}, 
               { "address": "{{host.RRDNS}}" }{% endif %}
              
                      ]
    } {% if not loop.last %},{% endif %}
    
    {% endfor %}
  ]
  {% else %}
    "host_entries": []
  {% endif %}
}
