#!/bin/bash
if [ -f ~/.irods/irods_environment.json ]
then
        rm -rf ~/.irods/irods_environment.json
fi

if [ ! -d ~/.irods ]
then
        mkdir ~/.irods
fi

echo -e "{ \n     \"irods_zone_name\": \"{{irods.zone}}\",\n   \"irods_port\": 1247,\n    \"irods_host\": \"{{irods.icat_host}}\",\n    \"irods_user_name\": \"$USER\",\n    \"irods_authentication_scheme\": \"PAM\",\n    \"irods_ssl_verify_server\": \"none\" \n}" >>  ~/.irods/irods_environment.json

